﻿@model SitioWeb.ViewModels.HomeViewModel
<h1 style="color:midnightblue">@Model.Titulo</h1>
<div style="background-image:url('/images/descarga.png'); padding-top: 90px; padding-bottom: 300px">
</div>
<div class="jumbotron" style="background-color:olive; opacity:0.85">
    <div class="row">
        <div class="col-sm-4 col-lg-offset-4">

            <form asp-action="Calcular" method="post">
                <select asp-for="IDorigen"
                        class="form-control"
                        asp-items="@(new SelectList(@Model.ListaMonedas,"IdentificadorMoneda", "IdentificadorMoneda"))">
                    <option value="">Selecciona uno ...</option>
                </select>
                <br />
                <select asp-for="IDdestino"
                        class="form-control"
                        asp-items="@(new SelectList(@Model.ListaMonedas,"IdentificadorMoneda", "IdentificadorMoneda"))">
                    <option value="">Selecciona uno ...</option>
                </select>
                <br />
                <div class="form-group">
                    <label asp-for="Cantidad" class="col-md-2 control-label"></label>
                    @*<div class="col-md-5">*@
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                    @*</div>*@
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Calcular" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var moneda in Model.ListaMonedas)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@Model.ImagenMoneda" alt="">
                <div class="caption">
                    <h3 class="pull-right">@moneda.IdentificadorMoneda</h3>
                    <h3>
                        <a asp-controller="Home" asp-action="DetalleMoneda" asp-route-id="@moneda.Id">@moneda.IdentificadorMoneda</a>
                    </h3>
                    <p>@moneda.Nombre</p>
                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('#IDorigen').change((self) => hideSelected(self, $('#IDdestino').children()));
            function hideSelected(self, selector) {
                const selected = self.target.selectedOptions[0].value;
                selector.each((i, o) => $(o).show());
                selector.each(function (i, o) {
                    if (o.value === selected && o.value !== "Selecciona uno ...")
                        $(o).hide();
                });
            }

            $('#Cantidad').focusout(function () {
                let value = $(this).val();
                $(this).val(value.replace(/\./, ','));
            });
        });
    </script>
}

